@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* Elements */
button {
    all: unset;
    margin-top: 24px;
    padding: 16px 40px;

    font-weight: 800;
    color: white;

    background-color: #855FB1;
    border-radius: 44px;
}

button:hover {
    background-color: #b191d6;
}

h1 {
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0px;
    font-weight: 900;

    text-align: center;
}

/** Header */
header {
    padding-top: 48px;

    display: flex;
    flex-direction: column-reverse;
}

/** Top section */
.topImg1 {
    margin-top: 64px;
    background-image: url(assets/tablet/image-hero.png);
    height: 160px;
    background-size: cover;
    background-position: center;
}

.topImg2 {
    display: none;
}

.topContent {
    padding-left: 30px;
    padding-right: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.topContent h1 {
    margin-top: 48px;
    font-size: 44px;
    font-weight: 900;
    line-height: 100%;
    text-align: center;
}

.topContent p {
    margin-top: 24px;
    text-align: center;
}

.topContent .topButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.greenButton {
    background-color: #4F96A9;
}

.greenButton:hover {
    background-color: #73b7ca;
}

.greenButton span {
    color: #8FE3F9;
}

/** Mid section */
.midSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle1 {
    margin-top: 64px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle1 .line {
    border-left: solid gray 1px;
    height: 80px;
}

.circle1 .one {
    border: solid gray 1px;
    padding: 16px 18px;
    border-radius: 50%;

    background-color: white;

    font-weight: 800;
}

.imgSection {

    margin: 64px 32px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 5vw;
}

.imgSection img {
    width: 100%;

    border-radius: 10px;
}

.midSection h3 {
    color: #4F96A9;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 4px;
}

.midSection h1 {
    margin: 16px 32px 32px 32px;
}

.midSection p {
    margin: 0px 32px 64px 32px;

    color: #87879D;
    text-align: center;
}

/** Footer section */

footer {
    position: relative;

    color: white;
    
    width: 100%;

    display: flex;
    flex-direction: column;
}

.space {
    height: 110px;
}

.circle2 {
    color: black;
    position: absolute;
    z-index: 99;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle2 .line {
    border-left: solid gray 1px;
    height: 80px;
}

.circle2 .two {
    border: solid gray 1px;
    padding: 16px 17.5px;
    border-radius: 50%;

    background-color: white;

    font-weight: 800;
}

.overlaySection {
    position: relative;
}

#overlayImg {
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: url(assets/mobile/image-footer.jpg);
    background-size: cover;
    background-position: top;
}

#overlayColor {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: #4D96A9;
    opacity: 0.85;
}

#overlayContent {
    position: relative;
    z-index: 3;
    padding: 32px;
    padding-top: 64px;
    padding-bottom: 64px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#overlayContent p {
    margin-top: 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}

footer button span {     
    color: #DFB8FF;
}

@media (min-width:400px) {
    body {
        border: solid purple 2px;
    }

    .topImg1 {
        min-height: 220px;
        width: 100vw;
    }

    #overlayImg {
        background-image: url(assets/desktop/image-footer.jpg);
    }
}

@media (min-width:550px) {
    body {
        border: solid red 2px;
    }

    .topImg1 {
        height: 20vw;
        min-height: 350px;
        width: 100vw;
    }

    .topContent {
        margin-top: 72px;
        gap: 24px;
    }

    .topContent p {
        max-width: 448px;
    }

    .topContent .topButtons {
        flex-direction: row;
        gap: 17px;
    }

    .imgSection {
        margin: 64px 44px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        gap: 5vw;
    }
}

@media (min-width: 930px) {
    body {
        border: solid orange 2px;
    }

    .topSection {
        max-width: 100vw;

        display: flex;
        flex-direction: row;
        gap: 2vw;

        border: solid black 2px;
    }

    .topContent {
        min-width: 380px;
        width: 60vw;

        margin-top: 20px;

        border: solid red 2px;

        justify-content: center;
    }

    .topContent h1, .topContent p, .topButtons button {
        margin-top: 0px;
    }

    .topImg1 {
        height: 30vw;
        width: 50vw;

        background-image: url(assets/desktop/image-hero-left.png);
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
    }

    .topImg2 {
        display: block;
        height: 30vw;
        width: 50vw;

        background-image: url(assets/desktop/image-hero-right.png);
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
    }


    /*
    .topImg1 {
        margin-top: 64px;
        background-image: url(assets/tablet/image-hero.png);
        height: 160px;
        background-size: cover;
        background-position: center;
    }
    
    .topImage2 {
        display: none;
    }
    */
}